<p id="notice"><%= notice %></p>

<h1>Liberries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Floor count</th>
      <th>Florr area</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @liberries.each do |liberry| %>
      <tr>
        <td><%= liberry.name %></td>
        <td><%= liberry.floor_count %></td>
        <td><%= liberry.floor_area %></td>
        <td><%= link_to 'Show', liberry_user_path(liberry) %></td>
        <td><%= link_to 'Edit', edit_liberry_user_path(liberry) %></td>
        <td><%= link_to 'Destroy', liberry_user_path(liberry), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Liberry', new_liberry_user_path %>
